<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>

</head>
<body>
    <div id = "button-counter">
        <button @click ="counter++">{{counter}}</button>
    </div>

    <script>
        const buttonCounter = {
            data(){
                return{counter:0}
            }
        }
        Vue.createApp(buttonCounter).mount('#button-counter')
    </script>
    
    <div id = "app">
       <button-counter default = "1"></button-counter>
       <button-counter default = "2"></button-counter>
       <button-counter default = "31"></button-counter>
       <button-counter default = "4"></button-counter>
    </div>
    
    <script>
        const App = {
            data(){
                return{counter:0}
            }
        }
        const vue =  Vue.createApp(App)
        vue.component('button-counter',{
            props :['default']
            ,data(){
                return{counter:this.default}
            },
            template:`
            <button @click ="counter++">{{counter}}</button>
            `
            
        })
        vue.mount('#app')
    </script>

</body>
</html>